<template>
  <div id='app'>
    <h1>Airline Statistics Dashboard</h1>
    <AirlineView />
    <MeasureView />
  </div>
</template>

<script>
import AirlineView from '@/components/AirlineView'
import MeasureView from '@/components/MeasureView'

export default {
  data () {
    return {}
  },
  components: {
    AirlineView,
    MeasureView
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}
</style>
