<template>
  <div id="airline-view">
    <h2>Airline Statistics</h2>
    <div id="airline-selector" class="dropdown-container">
      <select v-model="airline" @change="displayAirlineStats">
        <option value :selected="true">Select an airline</option>
        <option v-for="airline in airlines" :key='airline.index' :value='airline'>{{ airline }}</option>
      </select>
    </div>
    <div id="airline-stats-table">
      <table v-if="airline" class="table">
        <tbody>
          <tr>
            <td class="table-header">Number of flights</td>
            <td>{{ airlineStats.numberOfFlights }}</td>
          </tr>
          <tr>
            <td class="table-header">Number of routes</td>
            <td>{{ airlineStats.numberOfRoutes }}</td>
          </tr>
          <tr>
            <td class="table-header">Number of airports flown from</td>
            <td>{{ airlineStats.numberOfAirportsFlownTo }}</td>
          </tr>
          <tr>
            <td class="table-header">Number of airports flown to</td>
            <td>{{ airlineStats.numberOfAirportsFlownFrom }}</td>
          </tr>
          <tr>
            <td class="table-header">Number of states flown from</td>
            <td>{{ airlineStats.numberOfStatesFlownTo }}</td>
          </tr>
          <tr>
            <td class="table-header">Number of states flown to</td>
            <td>{{ airlineStats.numberOfStatesFlownFrom }}</td>
          </tr>
        </tbody>
      </table>
      <p v-else>Please select an airline to display some data</p>
    </div>
  </div>
</template>

<script>
import AirlineStatsApi from '@/services/AirlineStatsApi'
export default {
  data () {
    return {
      airline: null,
      airlines: [],
      airlineStats: {}
    }
  },
  created () {
    AirlineStatsApi.getAirlines()
      .then(airlines => {
        this.airlines = airlines.data
      })
      .catch(error => console.log(error))
  },
  methods: {
    displayAirlineStats (event) {
      if (this.airline) {
        AirlineStatsApi.getAirlineStats(this.airline)
          .then(airlineStats => {
            this.airlineStats = airlineStats.data
          })
          .catch(error => console.log(error))
      }
    }
  }
}
</script>

<style scoped>
  #airline-view {
    float: left;
    width: 50%;
  }
  table {
    margin: 0 auto;
    border: 20px solid white;
  }
  table .table-header {
    border-right: 20px solid white;
  }
  @media (max-width: 800px) {
     #airline-view {
      float: none;
      margin-right: 0;
      min-width: none;
      border-bottom: 20px;
    }
  }
</style>
