<template>
  <div id="measure-view">
    <h2>Compare Airlines</h2>
    <div id="measure-selector" class="dropdown-container">
      <select v-model="measure" @change="displayPieChart">
        <option value :selected="true">Select a measure</option>
        <option
          v-for="measure in measures"
          :key='measure.index'
          :value='measure.id'>{{ measure.text }}
        </option>
      </select>
    </div>
    <div id="measure-pie-chart">
      <pie-chart
        v-if="measure"
        :donut="true"
        :data="measureStats"
        :library="{legend: {position: 'right'}}">
      </pie-chart>
      <p v-else>Please select a measure to compare across airlines.</p>
    </div>
  </div>
</template>

<script>
import AirlineStatsApi from '@/services/AirlineStatsApi'
export default {
  data () {
    return {
      measure: null,
      measures:
      [
        {
          id: 'numberOfFlights',
          text: 'Number of flights'
        },
        {
          id: 'numberOfRoutes',
          text: 'Number of routes'
        },
        {
          id: 'numberOfAirportsFlownTo',
          text: 'Number of airports flown to'
        },
        {
          id: 'numberOfAirportsFlownFrom',
          text: 'Number of airports flown from'
        },
        {
          id: 'numberOfStatesFlownTo',
          text: 'Number of states flown to'
        },
        {
          id: 'numberOfStatesFlownFrom',
          text: 'Number of states flown from'
        }
      ],
      measureStats: {}
    }
  },
  methods: {
    displayPieChart (event) {
      if (this.measure) {
        AirlineStatsApi.getMeasureStats(this.measure)
          .then(measureStats => {
            this.measureStats = measureStats.data
          })
          .catch(error => console.log(error))
      }
    }
  }
}
</script>

<style scoped>
  #measure-view {
    overflow: hidden;
    min-height: 170px;
    width: 50%
  }
  #measure-pie-chart {
    margin-top: 20px;
    padding-left: 40px;
  }
  @media (max-width: 800px) {
     #measure-view {
      float: none;
      margin-right: 0;
      max-width: none;
      border-bottom: 20px;
    }
  }
</style>
